
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


body{
  font-family: Helvetica, Arial, sans-serif; 
}

  /* apply styles to <header> */
header {
    padding: 20px 35px;
    background-color: #8ea0a7;
    text-align: center;
 }

.hero {
    background-image: url("../images/dosomethinggreat.jpg");
    height: 700px;
    background-size: cover;
    background-position: center;
    position: relative;
    /*margin-top: 0;*/
  }

  header a {
    text-decoration: none;
    color: #041c1d;
  }

  header h1 {
    font-weight: bold;
    font-size: 60px;
    margin: 0;
    border-color: #bbbbbb;
  }

  .section-title {
    font-size: 55px;
    color: #041c1d;
    margin-bottom: 35px;
    padding: 0 100px 20px 100px;
    display: inline-block;
    border-bottom: 3px solid;
    /*margin-top: 60px;*/}


  header nav ul li {
    display: inline;
    padding: 100px;
    font-size: 40px;
  }
    .intro {
      text-align: center;
      background-color:#bbbbbb ;
    }
  
    section p{
     
      color: #000011;
      font-size: 25px;
      text-align: left;
    }

    .intro img {
      width: 15%;
      float: left;
      /*margin-top: 0;*/
      
    }

    .ken {
      width: 900px;
      margin: auto auto 30px auto;
      background: #bbbbbb;
      color: #000011;
      overflow: auto;
    }
    
    .ken img {
      width: 35%;
      float: left;
      /*margin-top: 20px;*/
    }
    
    .ken-bio {
      padding: 35px;
      float: left;
      width: 65%;
    }

    .ken h3{
      font-size: 35px;
    }

    .air-hiker{
      padding-top: 0;
    }